@charset "UTF-8";
/*
  龍之谷
  Author - Calvin Da.
*/
.btn-info {
  background-color: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.2);
}
.btn-info:hover {
  color: #555;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.btn-info:focus {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}
.btn-info:active {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
  background-color: #76470B;
  background-image: -webkit-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -moz-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -o-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  border: 1px solid #E2D478;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.84), inset 0 0 0 2px #000000;
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.btn-primary:hover {
  color: #fff;
  background-color: #76470B;
  border: 1px solid #E2D478;
  background-image: -webkit-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -moz-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -o-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.btn-primary:focus {
  color: #fff;
  background-color: #76470B;
  background-image: -webkit-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -moz-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -o-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  border: 1px solid #E2D478;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.btn-primary:active {
  color: #fff;
  background-color: #76470B;
  background-image: -webkit-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -moz-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: -o-linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  background-image: linear-gradient(#DEA446 0%, #955B0F 29%, #76470B 98%);
  border: 1px solid #E2D478;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}

.btn-default {
  background-color: #10313C;
  background-image: -webkit-linear-gradient(#7BC2D5 0%, #255F6F 23%, #10313C 100%);
  background-image: -moz-linear-gradient(#7BC2D5 0%, #255F6F 23%, #10313C 100%);
  background-image: -o-linear-gradient(#7BC2D5 0%, #255F6F 23%, #10313C 100%);
  background-image: linear-gradient(#7BC2D5 0%, #255F6F 23%, #10313C 100%);
  border: 1px solid #E2D478;
  box-shadow: 0 4px 6px 2px rgba(0, 0, 0, 0.84), inset 0 0 0 2px #000000;
  color: #fff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.btn-default:hover {
  color: #fff;
  background-color: #10313C;
  border: 1px solid #E2D478;
  background-image: -webkit-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: -moz-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: -o-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.btn-default:focus {
  color: #fff;
  background-color: #10313C;
  background-image: -webkit-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: -moz-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: -o-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  border: 1px solid #E2D478;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}
.btn-default:active {
  color: #fff;
  background-color: #10313C;
  background-image: -webkit-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: -moz-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: -o-linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  background-image: linear-gradient(#7BC2D5 0%, #255F6F 44%, #10313C 100%);
  border: 1px solid #E2D478;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.75);
}

/*
  區塊方法匯入
*/
body,
html {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", "微軟正黑體", "Microsoft JhengHei", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.65em;
  font-weight: 300;
  letter-spacing: 1px;
}

ul {
  padding: 0;
}
ul li {
  list-style: none;
}

.h1,
.h2,
.h3,
.h4,
h1,
h2,
h3,
h4 {
  font-weight: 400;
  letter-spacing: 1px;
}

* {
  box-sizing: border-box;
}

a {
  color: #555;
  letter-spacing: 1px;
}
a:hover, a:focus {
  color: #333;
  text-decoration: none;
  outline: none;
}

.inner-bg {
  background: #141B21 url("../images/inner-page-bg.jpg") no-repeat center top;
}
@media (max-width: 767px) {
  .inner-bg {
    background-size: cover;
  }
}

.landing-bg {
  background: #141B21 url("../images/landing-page-bg.jpg") no-repeat center top;
  background-size: cover;
}
@media (max-width: 767px) {
  .landing-bg {
    background-size: contain;
    background-position-y: 65px;
  }
}

.register-bg {
  background: #141B21 url("../images/background0908.jpg") no-repeat center top;
  background-size: contain;
}
@media (max-width: 767px) {
  .register-bg {
    background-size: 150%;
  }
}

.main-nav {
  background: transparent url("../images/main-nav-bg.png") no-repeat 0 0;
  max-width: 1200px;
  min-width: 100%;
  display: inline-block;
  height: 100px;
  background-size: contain;
  margin-top: 100px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav {
    height: 75px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav {
    height: 60px;
  }
}
@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
}
.main-nav .brand-logo {
  background: transparent url(../images/main-logo.png) no-repeat 0 0;
  width: 253px;
  height: 126px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: -58px;
  left: 44px;
  float: left;
  overflow: hidden;
  text-indent: -999em;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .brand-logo {
    width: 214px;
    height: 108px;
    top: -48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .brand-logo {
    width: 167px;
    height: 82px;
    top: -39px;
    left: 27px;
  }
}
.main-nav .main-nav-list {
  display: inline-block;
  margin-left: 68px;
  margin-top: 6px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .main-nav-list {
    margin-left: 52px;
    margin-top: 3px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .main-nav-list {
    margin-left: 36px;
  }
}
.main-nav .main-nav-list li {
  float: left;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .main-nav-list li {
    font-size: 13px;
  }
}
.main-nav .main-nav-list li a {
  color: #E2D478;
  display: inline-block;
  padding: 22px 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .main-nav-list li a {
    padding: 19px 17px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .main-nav-list li a {
    padding: 8px 11px;
  }
}
.main-nav .main-nav-list li a:hover {
  color: white;
  text-shadow: 0px 0px 11px rgba(255, 221, 155, 0.65);
}
.main-nav .nav-facebook {
  font-size: 30px;
  display: inline-block;
  position: relative;
  top: -32px;
  left: 10px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .nav-facebook {
    left: 4px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .nav-facebook {
    font-size: 22px;
    top: -22px;
    left: 4px;
  }
}
.main-nav .nav-facebook i {
  color: #11303C;
  background: -webkit-linear-gradient(#FFF9D5, #D6C35C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-nav .nav-facebook i:hover {
  text-shadow: 0px 0px 11px rgba(255, 221, 155, 0.65);
}

.gold-well {
  background-image: linear-gradient(-1deg, #A59D67 0%, #EFEACC 99%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin: 0 auto;
  padding: 25px 25px;
}

.form-control {
  background: #FFFFFF;
  border: 1px solid #684218;
  box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 5px 11px;
  font-size: 18px;
}

.space-top-1 {
  margin-top: 1px;
}

.space-top-2 {
  margin-top: 2px;
}

.space-top-3 {
  margin-top: 3px;
}

.space-top-4 {
  margin-top: 4px;
}

.space-top-5 {
  margin-top: 5px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .space-top-5 {
    margin-top: 10px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .space-top-5 {
    margin-top: 10px;
  }
}

.space-top-6 {
  margin-top: 6px;
}

.space-top-7 {
  margin-top: 7px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .space-top-7 {
    margin-top: 10px;
  }
}

.space-top-8 {
  margin-top: 8px;
}

.space-top-9 {
  margin-top: 9px;
}

.space-top-10 {
  margin-top: 10px;
}

.space-top-15 {
  margin-top: 15px;
}

.space-top-20 {
  margin-top: 20px;
}

.space-top-25 {
  margin-top: 25px;
}

.space-top-30 {
  margin-top: 30px;
}

.space-top-35 {
  margin-top: 35px;
}

.space-top-40 {
  margin-top: 40px;
}

.space-top-45 {
  margin-top: 45px;
}

.space-top-50 {
  margin-top: 50px;
}

.space-top-55 {
  margin-top: 55px;
}

.space-top-60 {
  margin-top: 60px;
}

.space-top-65 {
  margin-top: 65px;
}

.space-top-70 {
  margin-top: 70px;
}

.space-top-75 {
  margin-top: 75px;
}

.space-top-80 {
  margin-top: 80px;
}

.space-top-85 {
  margin-top: 85px;
}

.space-top-90 {
  margin-top: 90px;
}

.space-top-95 {
  margin-top: 95px;
}

.space-top-100 {
  margin-top: 100px;
}

.space-bottom-1 {
  margin-bottom: 1px;
}

.space-bottom-2 {
  margin-bottom: 2px;
}

.space-bottom-3 {
  margin-bottom: 3px;
}

.space-bottom-4 {
  margin-bottom: 4px;
}

.space-bottom-5 {
  margin-bottom: 5px;
}

.space-bottom-6 {
  margin-bottom: 6px;
}

.space-bottom-7 {
  margin-bottom: 7px;
}

.space-bottom-8 {
  margin-bottom: 8px;
}

.space-bottom-9 {
  margin-bottom: 9px;
}

.space-bottom-10 {
  margin-bottom: 10px;
}

.space-bottom-15 {
  margin-bottom: 15px;
}

.space-bottom-20 {
  margin-bottom: 20px;
}

.space-bottom-25 {
  margin-bottom: 25px;
}

.space-bottom-30 {
  margin-bottom: 30px;
}

.space-bottom-35 {
  margin-bottom: 35px;
}

.space-bottom-40 {
  margin-bottom: 40px;
}

.space-bottom-45 {
  margin-bottom: 45px;
}

.space-bottom-50 {
  margin-bottom: 50px;
}

.space-bottom-55 {
  margin-bottom: 55px;
}

.space-bottom-60 {
  margin-bottom: 60px;
}

.space-bottom-65 {
  margin-bottom: 65px;
}

.space-bottom-70 {
  margin-bottom: 70px;
}

.space-bottom-75 {
  margin-bottom: 75px;
}

.space-bottom-80 {
  margin-bottom: 80px;
}

.space-bottom-85 {
  margin-bottom: 85px;
}

.space-bottom-90 {
  margin-bottom: 90px;
}

.space-bottom-95 {
  margin-bottom: 95px;
}

.space-bottom-100 {
  margin-bottom: 100px;
}

.space-left-1 {
  margin-left: 1px;
}

.space-left-2 {
  margin-left: 2px;
}

.space-left-5 {
  margin-left: 5px;
}

.space-left-10 {
  margin-left: 10px;
}

.space-left-15 {
  margin-left: 15px;
}

.space-left-20 {
  margin-left: 20px;
}

.space-left-25 {
  margin-left: 25px;
}

.space-left-30 {
  margin-left: 30px;
}

.space-left-35 {
  margin-left: 35px;
}

.space-left-40 {
  margin-left: 40px;
}

.space-left-45 {
  margin-left: 45px;
}

.space-right-1 {
  margin-right: 1px;
}

.space-right-2 {
  margin-right: 2px;
}

.space-right-3 {
  margin-right: 3px;
}

.space-right-4 {
  margin-right: 4px;
}

.space-right-5 {
  margin-right: 5px;
}

.space-right-6 {
  margin-right: 6px;
}

.space-right-7 {
  margin-right: 7px;
}

.space-right-8 {
  margin-right: 8px;
}

.space-right-9 {
  margin-right: 9px;
}

.space-right-10 {
  margin-right: 10px;
}

.space-right-15 {
  margin-right: 15px;
}

.space-right-20 {
  margin-right: 20px;
}

.space-right-25 {
  margin-right: 25px;
}

.space-right-30 {
  margin-right: 30px;
}

.space-right-35 {
  margin-right: 35px;
}

.space-right-40 {
  margin-right: 40px;
}

.space-right-45 {
  margin-right: 45px;
}

.space-right-50 {
  margin-right: 50px;
}

.min-height-20 {
  min-height: 20px;
}

.min-height-50 {
  min-height: 50px;
}

.min-height-80 {
  min-height: 80px;
}

.min-height-100 {
  min-height: 100px;
}

.min-height-150 {
  min-height: 150px;
}

.min-height-200 {
  min-height: 200px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .min-height-200 {
    min-height: 160px;
  }
}

.min-height-250 {
  min-height: 250px;
}

.min-height-300 {
  min-height: 300px;
}

.main-nav {
  background: transparent url("../images/main-nav-bg.png") no-repeat 0 0;
  max-width: 1200px;
  min-width: 100%;
  display: inline-block;
  height: 100px;
  background-size: contain;
  margin-top: 100px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav {
    height: 75px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav {
    height: 60px;
  }
}
@media (max-width: 767px) {
  .main-nav {
    display: none;
  }
}
.main-nav .brand-logo {
  background: transparent url(../images/main-logo.png) no-repeat 0 0;
  width: 253px;
  height: 126px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: -58px;
  left: 44px;
  float: left;
  overflow: hidden;
  text-indent: -999em;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .brand-logo {
    width: 214px;
    height: 108px;
    top: -48px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .brand-logo {
    width: 167px;
    height: 82px;
    top: -39px;
    left: 27px;
  }
}
.main-nav .main-nav-list {
  display: inline-block;
  margin-left: 68px;
  margin-top: 6px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .main-nav-list {
    margin-left: 52px;
    margin-top: 3px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .main-nav-list {
    margin-left: 36px;
  }
}
.main-nav .main-nav-list li {
  float: left;
  font-size: 16px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .main-nav-list li {
    font-size: 13px;
  }
}
.main-nav .main-nav-list li a {
  color: #E2D478;
  display: inline-block;
  padding: 22px 28px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .main-nav-list li a {
    padding: 19px 17px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .main-nav-list li a {
    padding: 8px 11px;
  }
}
.main-nav .main-nav-list li a:hover {
  color: white;
  text-shadow: 0px 0px 11px rgba(255, 221, 155, 0.65);
}
.main-nav .nav-facebook {
  font-size: 30px;
  display: inline-block;
  position: relative;
  top: -32px;
  left: 10px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .main-nav .nav-facebook {
    left: 4px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .main-nav .nav-facebook {
    font-size: 22px;
    top: -22px;
    left: 4px;
  }
}
.main-nav .nav-facebook i {
  color: #11303C;
  background: -webkit-linear-gradient(#FFF9D5, #D6C35C);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-nav .nav-facebook i:hover {
  text-shadow: 0px 0px 11px rgba(255, 221, 155, 0.65);
}

.nav-bar-mobile {
  background-color: #11303C;
  border-bottom: 2px solid #E2D478;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  height: 68px;
  z-index: 99;
  box-shadow: 0px -1px 6px 3px rgba(0, 0, 0, 0.72);
}
.nav-bar-mobile .hamburger-btn {
  position: relative;
  top: 15px;
  float: right;
  right: 13px;
  background-color: transparent;
  border: none;
}
.nav-bar-mobile .brand-logo {
  background: transparent url(../images/main-logo.png) no-repeat 0 0;
  width: 100px;
  height: 50px;
  background-size: contain;
  display: inline-block;
  position: relative;
  top: 10px;
  left: 11px;
  overflow: hidden;
  text-indent: -999em;
}
.nav-bar-mobile .mobile-download-btn {
  border: 1px solid #E2D478;
  padding: 2px 6px;
  margin-top: 18px;
  margin-left: 5px;
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5), inset 0 0 0 2px #000000;
}

.mobile-main-menu {
  position: fixed;
  top: 0;
  height: 100%;
  background-color: #11303C;
  z-index: 9999;
  right: 0;
  padding: 20px;
  width: 50%;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  box-shadow: -2px -1px 7px rgba(0, 0, 0, 0.5);
}
.mobile-main-menu.show-nav {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
.mobile-main-menu .btn-close {
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 22px;
  font-size: 26px;
  color: #E2D478;
}
.mobile-main-menu .mobile-main-menu-list {
  margin-top: 65px;
  margin-left: 10px;
}
.mobile-main-menu .mobile-main-menu-list li {
  font-size: 16px;
}
.mobile-main-menu .mobile-main-menu-list li a {
  color: #E2D478;
  padding: 10px 5px;
  display: inline-block;
  letter-spacing: 3px;
}
.mobile-main-menu .mobile-main-menu-list li .facebook-btn {
  letter-spacing: 0;
  font-size: 14px;
}

footer {
  color: white;
  letter-spacing: 1px;
  margin: 30px 0;
}
footer .col-sm-6, footer .col-md-6 {
  padding: 0;
}
@media (max-width: 767px) {
  footer {
    text-align: center;
  }
  footer .col-xs-12 {
    text-align: center;
  }
}
footer span {
  font-size: 12px;
  color: #c5c5c5;
  margin-top: 15px;
  line-height: 19px;
  display: inline-block;
}
@media (max-width: 767px) {
  footer span {
    margin-bottom: 20px;
    text-align: center;
  }
}

.landing-hero .media-list-item {
  text-align: center;
  max-width: 330px;
  margin-left: 10px;
  margin-bottom: 40px;
  margin-top: 50px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .media-list-item {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 26px;
  }
}
.landing-hero .media-list-item .video-cover {
  position: relative;
  background-size: cover;
  display: inline-block;
  width: 330px;
  height: 150px;
  border-radius: 8px;
  border: 2px solid #CABF6B;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.69);
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .media-list-item .video-cover {
    width: 240px;
    height: 120px;
  }
}
.landing-hero .media-list-item .video-cover:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
.landing-hero .media-list-item .video-cover i {
  color: white;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  font-size: 60px;
  right: 0;
  left: 0;
  top: 36%;
  opacity: 0.9;
}
.landing-hero .media-list-item .video-title {
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 5px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.76);
}
.landing-hero .download-area a {
  margin-bottom: 3px;
  display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-hero .download-area a {
    margin-bottom: 12px;
  }
  .landing-hero .download-area a img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .download-area a img {
    width: 160px;
  }
}
.landing-hero .download-area a:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-hero .qr-code-area img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .qr-code-area {
    display: none;
  }
  .landing-hero .qr-code-area img {
    width: 100%;
  }
}
.landing-hero .landing-key-img {
  position: relative;
  width: 730px;
  display: inline-block;
  height: 400px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-hero .landing-key-img {
    width: 600px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .landing-key-img {
    width: 465px;
    height: 352px;
  }
}
.landing-hero .landing-key-img img {
  position: absolute;
  width: 789px;
  top: 63px;
  right: -12px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-hero .landing-key-img img {
    width: 600px;
    top: 105px;
    right: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .landing-key-img img {
    position: absolute;
    width: 501px;
    top: 53px;
    right: 0;
  }
}
.landing-hero .landing-key-img .preregister-bg {
  background: transparent url(../images/btn-large-red.png) no-repeat 0 0;
  position: absolute;
  width: 337px;
  height: 111px;
  display: inline-block;
  background-size: contain;
  bottom: -150px;
  z-index: 10;
  right: 215px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-hero .landing-key-img .preregister-bg {
    width: 295px;
    height: 100px;
    right: 177px;
    bottom: -138px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .landing-key-img .preregister-bg {
    width: 295px;
    height: 99px;
    bottom: -75px;
    z-index: 10;
    right: 72px;
  }
}
.landing-hero .landing-key-img .preregister-bg .preregister-title {
  background: transparent url(../images/preregister-btn-title.png) no-repeat center center;
  width: 100%;
  height: 102px;
  display: inline-block;
}
.landing-hero .landing-key-img .preregister-bg .preregister-title:hover {
  background: transparent url(../images/preregister-btn-title-2.png) no-repeat center center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-hero .landing-key-img .preregister-bg .preregister-title {
    height: 89px;
    background-size: 130px;
  }
  .landing-hero .landing-key-img .preregister-bg .preregister-title:hover {
    background: transparent url(../images/preregister-btn-title-2.png) no-repeat center center;
    background-size: 140px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-hero .landing-key-img .preregister-bg .preregister-title {
    height: 89px;
    background-size: 130px;
  }
  .landing-hero .landing-key-img .preregister-bg .preregister-title:hover {
    background: transparent url(../images/preregister-btn-title-2.png) no-repeat center center;
    background-size: 135px;
  }
}

.landing-news-block {
  display: inline-block;
  padding: 30px;
  min-height: 460px;
  width: 100%;
  margin-top: 50px;
  background: #11303C;
  border: 3px solid #E2DBAF;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  z-index: 1;
  position: relative;
  background: #11303C url(../images/news_bg.png) no-repeat right bottom;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-news-block h3 img {
    width: 220px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-news-block {
    background-image: none;
    margin-top: 0px;
  }
  .landing-news-block h3 img {
    width: 100%;
  }
}
.landing-news-block .game-info {
  margin-top: 20px;
  display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-news-block .game-info img {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-news-block .game-info img {
    width: 100%;
  }
}

.landing-news {
  width: 420px;
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-news {
    width: 380px;
  }
}
.landing-news .news-heading {
  margin-top: 36px;
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
.landing-news .news-heading h4 {
  margin: 0;
  color: white;
  display: inline-block;
}
.landing-news .more-news-btn {
  float: right;
  color: #CABF6B;
}
.landing-news .news-list-block {
  overflow-y: scroll;
  height: 309px;
  padding-right: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-news .news-list-block {
    height: 270px;
  }
}
.landing-news .news-list-block::-webkit-scrollbar-track {
  background-color: transparent;
}
.landing-news .news-list-block::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
.landing-news .news-list-block::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #617A84;
}
.landing-news .news-list-block .news-list-item {
  padding: 9px 0 10px;
  border-bottom: 1px solid #727272;
}
.landing-news .news-list-block .news-list-item a {
  display: inline-block;
}
.landing-news .news-list-block .news-list-item .news-list-icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  float: left;
  margin-right: 15px;
}
.landing-news .news-list-block .news-list-item .news-list-icon img {
  max-width: 100%;
}
.landing-news .news-list-block .news-list-item .news-list-title {
  display: inline-block;
  margin-top: 12px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-news .news-list-block .news-list-item .news-list-title {
    margin-top: 5px;
  }
}
.landing-news .news-list-block .news-list-item .news-list-title span {
  display: inline-block;
  color: #CABF6B;
  margin-bottom: 5px;
  float: right;
  font-size: 12px;
  margin-left: 10px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-news .news-list-block .news-list-item .news-list-title span {
    float: none;
    margin: 0;
  }
}
.landing-news .news-list-block .news-list-item .news-list-title strong {
  display: inline-block;
  color: white;
  font-size: 14px;
  width: 238px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-news .news-list-block .news-list-item .news-list-title strong {
    display: block;
    width: 285px;
  }
}
.landing-news .news-list-block .news-list-item .news-list-title:hover strong {
  color: #CABF6B;
}

.landing-classes-block {
  display: inline-block;
  padding: 30px;
  min-height: 570px;
  width: 100%;
  margin-top: 50px;
  background: #11303C;
  border-top: 2px solid #E2DBAF;
  border-bottom: 2px solid #E2DBAF;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
  background: #11303C url(../images/classes-bg.jpg) no-repeat 0 0;
  background-size: cover;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-block {
    padding: 0px;
    min-height: 500px;
  }
}
.landing-classes-block .landing-classes-info {
  display: none;
}
.landing-classes-block .landing-classes-info h3 {
  margin: 20px 0;
}
.landing-classes-block .landing-classes-info .landing-classes-title {
  margin-top: 50px;
}
.landing-classes-block .landing-classes-info .landing-classes-title strong {
  font-size: 30px;
  color: #CABF6B;
  font-weight: normal;
}
.landing-classes-block .landing-classes-info .landing-classes-title span {
  font-size: 20px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
.landing-classes-block .landing-classes-info .landing-classes-description {
  color: white;
  font-size: 14px;
  margin-top: 22px;
}
.landing-classes-block .landing-classes-info.active {
  display: inline-block;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-block .landing-classes-info .classes-avatar {
    width: 200px;
  }
}

.landing-classes-content {
  position: relative;
}
.landing-classes-content .landing-classes-portrait {
  position: absolute;
  top: -85px;
  left: 100px;
  display: none;
}
.landing-classes-content .landing-classes-portrait.active {
  display: inline-block;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing-classes-content .landing-classes-portrait {
    width: 450px;
    top: 13px;
    left: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-content .landing-classes-portrait {
    width: 300px;
    top: 60px;
    left: 70px;
  }
}
.landing-classes-content .landing-classes-list {
  float: right;
  margin-top: 10px;
}
.landing-classes-content .landing-classes-list .classes-list-item {
  width: 155px;
  height: 102px;
  margin: 15px 0;
  text-indent: -999em;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  opacity: 0.7;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-content .landing-classes-list .classes-list-item {
    width: 130px;
    height: 80px;
    margin: 25px 0;
  }
}
.landing-classes-content .landing-classes-list .classes-1 {
  background: transparent url(../images/warrior-btn-1.png) no-repeat 0 0;
  right: 50px;
  background-size: contain;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-content .landing-classes-list .classes-1 {
    right: 22px;
  }
}
.landing-classes-content .landing-classes-list .classes-1:hover {
  background-image: url(../images/warrior-btn-2.png);
  opacity: 1;
}
.landing-classes-content .landing-classes-list .classes-1.active {
  background-image: url(../images/warrior-btn-2.png);
  opacity: 1;
}
.landing-classes-content .landing-classes-list .classes-2 {
  background: transparent url(../images/archer-btn-1.png) no-repeat 0 0;
  right: 11px;
  background-size: contain;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-content .landing-classes-list .classes-2 {
    right: 0px;
  }
}
.landing-classes-content .landing-classes-list .classes-2:hover {
  background-image: url(../images/archer-btn-2.png);
  opacity: 1;
}
.landing-classes-content .landing-classes-list .classes-2.active {
  background-image: url(../images/archer-btn-2.png);
  opacity: 1;
}
.landing-classes-content .landing-classes-list .classes-3 {
  background: transparent url(../images/magician-btn-1.png) no-repeat 0 0;
  right: 8px;
  background-size: contain;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-content .landing-classes-list .classes-3 {
    right: 0px;
  }
}
.landing-classes-content .landing-classes-list .classes-3:hover {
  background-image: url(../images/magician-btn-2.png);
  opacity: 1;
}
.landing-classes-content .landing-classes-list .classes-3.active {
  background-image: url(../images/magician-btn-2.png);
  opacity: 1;
}
.landing-classes-content .landing-classes-list .classes-4 {
  background: transparent url(../images/minister-btn-1.png) no-repeat 0 0;
  right: 40px;
  background-size: contain;
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing-classes-content .landing-classes-list .classes-4 {
    right: 22px;
  }
}
.landing-classes-content .landing-classes-list .classes-4:hover {
  background-image: url(../images/minister-btn-2.png);
  opacity: 1;
}
.landing-classes-content .landing-classes-list .classes-4.active {
  background-image: url(../images/minister-btn-2.png);
  opacity: 1;
}

.landing-game-feature {
  margin: 50px 0;
}
.landing-game-feature img {
  width: 100%;
}

.landing-hero-mobile {
  position: relative;
}
.landing-hero-mobile img {
  width: 100%;
  position: relative;
  top: 120px;
}
.landing-hero-mobile .media-list-item {
  text-align: center;
}
.landing-hero-mobile .media-list-item .video-cover {
  position: relative;
  background-size: cover;
  display: inline-block;
  width: 265px;
  height: 130px;
  border-radius: 8px;
  border: 2px solid #CABF6B;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.69);
}
.landing-hero-mobile .media-list-item .video-cover i {
  color: white;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  font-size: 60px;
  right: 0;
  left: 0;
  top: 25%;
  opacity: 0.9;
}
.landing-hero-mobile .media-list-item .video-title {
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 5px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.76);
}

.landing-service-btn {
  padding: 10px;
}
.landing-service-btn .btn {
  font-size: 30px;
  margin-bottom: 18px;
}
.landing-service-btn i {
  color: #EEE497;
  font-size: 36px;
}
.landing-service-btn .download-game-bg {
  background: transparent url(../images/btn-large-red.png) no-repeat center center;
  width: 100%;
  height: 108px;
  display: inline-block;
  background-size: contain;
  margin: 20px 0 25px;
}
.landing-service-btn .download-game-bg .download-game-title {
  background: transparent url(../images/download-btn.png) no-repeat center center;
  width: 100%;
  height: 96px;
  display: inline-block;
}

.landing-news-mobile {
  display: inline-block;
  padding: 30px 10px;
  width: 100%;
  margin-top: 50px;
  background: #11303C;
  border-top: 2px solid #E2DBAF;
  border-bottom: 2px solid #E2DBAF;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}

.landing-classes-mobile {
  background: transparent url(../images/classes-bg-mobile.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 10px;
  min-height: 220px;
  text-align: center;
}
.landing-classes-mobile .landing-classes-slider {
  text-align: center;
  position: relative;
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 10px;
  display: inline-block;
  width: 93%;
  min-height: 200px;
}
.landing-classes-mobile .landing-classes-slider .classes-content-mobile .landing-classes-portrait-mobile {
  width: 80%;
  margin: 0 auto;
}
.landing-classes-mobile .landing-classes-slider .classes-content-mobile .classes-info-mobile {
  text-align: center;
  position: relative;
  z-index: 10;
}
.landing-classes-mobile .landing-classes-slider .classes-content-mobile .classes-info-mobile .landing-classes-title {
  margin-top: 50px;
}
.landing-classes-mobile .landing-classes-slider .classes-content-mobile .classes-info-mobile .landing-classes-title strong {
  font-size: 30px;
  color: #CABF6B;
  font-weight: normal;
  display: block;
  margin-bottom: 11px;
}
.landing-classes-mobile .landing-classes-slider .classes-content-mobile .classes-info-mobile .landing-classes-title span {
  font-size: 16px;
  color: white;
  display: block;
  font-family: 'Times New Roman', Times, serif;
}
.landing-classes-mobile .landing-classes-slider .classes-content-mobile .classes-info-mobile .landing-classes-description {
  color: white;
  font-size: 14px;
  margin-top: 22px;
}
.landing-classes-mobile .landing-classes-slider .classes-content-mobile .classes-info-mobile .classes-avatar {
  margin: 0 auto;
}

.game-feature-mobile .game-feature-mobile-slider img {
  width: 100%;
}

.landing-media-mobile {
  display: inline-block;
  padding: 30px 10px;
  width: 100%;
  margin-top: 50px;
  background: #11303C;
  border-top: 2px solid #E2DBAF;
  border-bottom: 2px solid #E2DBAF;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: relative;
}
.landing-media-mobile .landing-media-mobile-slider {
  padding-bottom: 20px;
}
.landing-media-mobile .media-list-item {
  text-align: center;
  margin-top: 4px;
}
.landing-media-mobile .media-list-item .video-cover {
  position: relative;
  background-size: cover;
  display: inline-block;
  width: 265px;
  height: 130px;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.69);
}
.landing-media-mobile .media-list-item .video-cover i {
  color: white;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  font-size: 60px;
  right: 0;
  left: 0;
  top: 36%;
  opacity: 0.9;
}
.landing-media-mobile .media-list-item .video-title {
  display: block;
  color: white;
  font-size: 16px;
  margin-top: 5px;
  text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.76);
}

.game-info-mobile {
  padding: 10px;
}
.game-info-mobile img {
  width: 100%;
}

.mobile-heading img {
  width: 250px;
}

.inner-page-block {
  position: relative;
}
.inner-page-block .inner-page-banner-img {
  width: 100%;
  display: inline-block;
  text-align: center;
  position: absolute;
  z-index: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .inner-page-block .inner-page-banner-img {
    top: 9px;
  }
  .inner-page-block .inner-page-banner-img img {
    width: 70%;
  }
}
@media (max-width: 767px) {
  .inner-page-block .inner-page-banner-img {
    top: 95px;
  }
  .inner-page-block .inner-page-banner-img img {
    width: 100%;
  }
}
.inner-page-block .decorative-borders-center::before {
  content: '';
  background: transparent url(../images/decorative-borders-center.png) no-repeat center top;
  position: absolute;
  width: 100%;
  height: 100px;
  top: -3px;
}
@media (max-width: 767px) {
  .inner-page-block .decorative-borders-center::before {
    display: none;
  }
}
.inner-page-block .inner-content {
  display: inline-block;
  padding: 30px;
  min-height: 400px;
  width: 100%;
  background: #11303C;
  border: 3px solid #E2DBAF;
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-top: 320px;
  z-index: 1;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .inner-page-block .inner-content {
    margin-top: 230px;
  }
}
@media (max-width: 767px) {
  .inner-page-block .inner-content {
    margin-top: 230px;
    padding: 15px;
  }
}
.inner-page-block .inner-content:after {
  content: '';
  background: transparent url(../images/decorative-borders-left.png) no-repeat center top;
  position: absolute;
  background-size: contain;
  width: 80px;
  height: 50px;
  left: -9px;
  top: -6px;
}
.inner-page-block .inner-content:before {
  content: '';
  background: transparent url(../images/decorative-borders-right.png) no-repeat center top;
  position: absolute;
  background-size: contain;
  width: 80px;
  height: 50px;
  right: -9px;
  top: -6px;
}

.redeem-content .border-heading {
  color: #E2D478;
  font-size: 22px;
}
.redeem-content .border-heading h2 {
  border: 2px solid;
  width: 160px;
  display: inline-block;
  padding: 8px;
}
.redeem-content p {
  display: inline-block;
  color: white;
  max-width: 400px;
  margin: 26px 0;
}
.redeem-content .gold-well {
  max-width: 500px;
  margin: 0 auto;
  padding: 25px 25px;
}
.redeem-content .gold-well .form-control {
  width: 90%;
  margin: 0 auto;
  height: 43px;
}
@media (max-width: 767px) {
  .redeem-content .gold-well .form-control {
    width: 100%;
  }
}
.redeem-content .gold-well .form-control::placeholder {
  color: #555;
}
.redeem-content .submit-btn {
  width: 235px;
  font-size: 26px;
}
@media (max-width: 767px) {
  .redeem-content .submit-btn {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .heading img {
    max-width: 100%;
  }
}

.news-category-tab {
  padding: 15px 0;
  margin-top: 40px;
  border-bottom: 1px solid #CABF6B;
  display: inline-block;
  width: 100%;
}
@media (max-width: 767px) {
  .news-category-tab {
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
  }
}
.news-category-tab li {
  float: left;
  margin: 0 5px;
  min-width: 60px;
  text-align: center;
}
.news-category-tab li a {
  padding: 3px 11px 1px;
  color: white;
  font-size: 16px;
  display: inline-block;
}
.news-category-tab .active {
  background-color: #CABF6B;
  border-radius: 5px;
}
.news-category-tab .active a {
  color: #11303C;
}

.news-list .news-list-item {
  padding: 15px 0;
  border-bottom: 1px solid #727272;
}
.news-list .news-list-item a {
  display: inline-block;
}
.news-list .news-list-item .news-list-icon {
  display: inline-block;
  width: 85px;
  height: 60px;
  text-align: center;
  float: left;
  margin-right: 15px;
}
.news-list .news-list-item .news-list-icon img {
  max-width: 100%;
}
.news-list .news-list-item .news-list-title {
  display: inline-block;
}
@media (max-width: 767px) {
  .news-list .news-list-item .news-list-title {
    width: 60%;
  }
}
.news-list .news-list-item .news-list-title span {
  display: block;
  color: #CABF6B;
  margin-bottom: 5px;
}
.news-list .news-list-item .news-list-title strong {
  display: block;
  color: white;
  font-size: 20px;
  font-weight: normal;
}
@media (max-width: 767px) {
  .news-list .news-list-item .news-list-title strong {
    font-size: 14px;
  }
}
.news-list .news-list-item .news-list-title:hover strong {
  color: #CABF6B;
}
.news-list .news-list-item:last-child {
  border-bottom: 0;
}

@media (max-width: 767px) {
  .nex-pagination {
    text-align: center;
  }
}

.pagination > li > a,
.pagination > li > span {
  background-color: transparent;
  color: #CABF6B;
  border: 1px solid #CABF6B;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  color: #11303C;
  background-color: #CABF6B;
  border-color: #CABF6B;
}

.news-detail {
  color: white;
}
.news-detail h1,
.news-detail h2,
.news-detail h3,
.news-detail h4 {
  color: #CABF6B;
}
.news-detail .news-date {
  color: #CABF6B;
  margin: 20px 0;
  display: inline-block;
}
.news-detail p {
  color: white;
  margin-bottom: 50px;
}
.news-detail img {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .news-detail img {
    margin-bottom: 50px;
    width:100%;
    height:auto;
  }
}
.news-detail a {
  color: #CABF6B;
}

.media-list {
  display: inline-block;
}
.media-list .media-list-item {
  width: calc(100% * 1/3 - 30px);
  width: -moz-calc(100% * 1/3 - 30px);
  width: -webkit-calc(100% * 1/3 - 30px);
  float: left;
  text-align: center;
  min-width: 290px;
  margin: 10px 10px 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .media-list .media-list-item {
    width: calc(100% * 1/2 - 30px);
    width: -moz-calc(100% * 1/2 - 30px);
    width: -webkit-calc(100% * 1/2 - 30px);
  }
}
@media (max-width: 767px) {
  .media-list .media-list-item {
    width: calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    min-width: auto;
  }
}
.media-list .media-list-item .video-cover {
  position: relative;
  background-size: cover;
  display: inline-block;
  width: 295px;
  height: 185px;
  border-radius: 8px;
  border: 2px solid #CABF6B;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .media-list .media-list-item .video-cover {
    width: 265px;
    height: 165px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .media-list .media-list-item .video-cover {
    width: 295px;
    height: 185px;
  }
}
@media (max-width: 767px) {
  .media-list .media-list-item .video-cover {
    width: 100%;
    height: 135px;
  }
}
.media-list .media-list-item .video-cover i {
  color: white;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  font-size: 60px;
  right: 0;
  left: 0;
  top: 36%;
  opacity: 0.9;
}
.media-list .media-list-item .video-title {
  display: block;
  color: white;
  margin-top: 5px;
}
.media-list .media-list-item:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}

.lightboxcontainer {
  width: 100%;
  text-align: left;
}

.lightboxleft {
  width: 40%;
  float: left;
}

.lightboxright {
  width: 60%;
  float: left;
}

.lightboxright iframe {
  min-height: 390px;
}

.divtext {
  margin: 36px;
}

@media (max-width: 800px) {
  .lightboxleft {
    width: 100%;
  }

  .lightboxright {
    width: 100%;
  }

  .divtext {
    margin: 12px;
  }
}
.pre-register-logo {
  position: absolute;
  left: 20px;
  top: 20px;
}
.pre-register-logo img {
  width: 250px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pre-register-logo img {
    width: 250px;
  }
}
@media (max-width: 767px) {
  .pre-register-logo {
    top: 1px;
    left: initial;
  }
  .pre-register-logo img {
    width: 130px;
  }
}

.pre-register-heading {
  margin-top: 30%;
  text-align: center;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .pre-register-heading img {
    max-width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pre-register-heading img {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .pre-register-heading {
    margin-top: 43%;
  }
  .pre-register-heading img {
    max-width: 250px;
  }
}

.pre-register-menbers {
  margin-top: 100px;
  text-align: center;
}
@media (max-width: 767px) {
  .pre-register-menbers {
    margin-top: 35px;
  }
}
@media (max-width: 767px) {
  .pre-register-menbers h2 img {
    max-width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pre-register-menbers h2 img {
    max-width: 300px;
  }
}
.pre-register-menbers .menbers-number {
  font-size: 110px;
  font-weight: bolder;
  margin-top: 43px;
  display: inline-block;
  color: white;
  font-family: Helvetica-Bold;
  letter-spacing: 6.98px;
  text-shadow: 0 2px 34px rgba(255, 255, 255, 0.5);
}
@media (max-width: 767px) {
  .pre-register-menbers .menbers-number {
    font-size: 60px;
    font-weight: bolder;
    margin-top: 20px;
  }
}
.pre-register-menbers p {
  font-size: 30px;
  color: white;
  margin-top: 80px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .pre-register-menbers p {
    width: 80%;
    text-align: center;
    line-height: 46px;
    margin: 80px auto 0;
  }
}
@media (max-width: 767px) {
  .pre-register-menbers p {
    font-size: 18px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 46px;
  }
}

.boss-fighting {
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting {
    height: 650px;
  }
}
.boss-fighting .boss-block-top {
  position: relative;
  display: inline-block;
  height: 400px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-block-top {
    height: 295px;
  }
}
.boss-fighting .progress-bar-block {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 0 40px;
  height: 123px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .progress-bar-block {
    padding: 0 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .progress-bar-block {
    padding: 0 25px;
  }
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block {
    padding: 0 8px;
    height: 40px;
    margin-top: 60px;
  }
}
.boss-fighting .progress-bar-block .progress-rate {
  top: 40px;
  position: relative;
  height: 48px;
  z-index: 1;
  display: inline-block;
  background-image: linear-gradient(-180deg, #00577A 0%, #00B6FF 51%, #004E76 99%);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.5);
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 32px;
    height: 42px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 24px;
    height: 32px;
  }
}
@media (min-width: 711px) and (max-width: 767px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 40px;
    height: 32px;
    left: 9px;
  }
}
@media (min-width: 647px) and (max-width: 710px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 35px;
    height: 30px;
    left: 11px;
  }
}
@media (min-width: 555px) and (max-width: 646px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 30px;
    height: 25px;
    left: 12px;
  }
}
@media (min-width: 465px) and (max-width: 554px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 26px;
    height: 21px;
    left: 7px;
  }
}
@media (min-width: 416px) and (max-width: 464px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 20px;
    height: 23px;
    left: 7px;
  }
}
@media (min-width: 414px) and (max-width: 415px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 20px;
    height: 18px;
  }
}
@media (min-width: 361px) and (max-width: 413px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 17px;
    height: 17px;
  }
}
@media (min-width: 321px) and (max-width: 360px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 17px;
    height: 16px;
  }
}
@media (max-width: 320px) {
  .boss-fighting .progress-bar-block .progress-rate {
    top: 10px;
    height: 11px;
  }
}
.boss-fighting .progress-bar-block::after {
  content: "";
  width: 95%;
  top: 39px;
  height: 48px;
  position: absolute;
  background: #1D1D1D;
  box-shadow: inset 0 1px 32px 0 rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .progress-bar-block::after {
    height: 35px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .progress-bar-block::after {
    top: 28px;
    height: 30px;
  }
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block::after {
    display: none;
  }
}
.boss-fighting .progress-bar-block.and-0k::before {
  content: "";
  background: transparent url(../images/progress-bar-0k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-0k::before {
    height: 117px;
    background-image: url(../images/progress-bar-0k-mobile.png);
  }
}
.boss-fighting .progress-bar-block.and-5k::before {
  content: "";
  background: transparent url(../images/progress-bar-5k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-5k::before {
    height: 117px;
    background-image: url(../images/progress-bar-5k-mobile.png);
  }
}
.boss-fighting .progress-bar-block.and-10k::before {
  content: "";
  background: transparent url(../images/progress-bar-10k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-10k::before {
    height: 117px;
    background-image: url(../images/progress-bar-10k-mobile.png);
  }
}
.boss-fighting .progress-bar-block.and-20k::before {
  content: "";
  background: transparent url(../images/progress-bar-20k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-20k::before {
    height: 117px;
    background-image: url(../images/progress-bar-20k-mobile.png);
  }
}
.boss-fighting .progress-bar-block.and-40k::before {
  content: "";
  background: transparent url(../images/progress-bar-40k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-40k::before {
    height: 117px;
    background-image: url(../images/progress-bar-40k-mobile.png);
  }
}
.boss-fighting .progress-bar-block.and-60k::before {
  content: "";
  background: transparent url(../images/progress-bar-60k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-60k::before {
    height: 117px;
    background-image: url(../images/progress-bar-60k-mobile.png);
  }
}
.boss-fighting .progress-bar-block.and-100k::before {
  content: "";
  background: transparent url(../images/progress-bar-100k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-100k::before {
    height: 117px;
    background-image: url(../images/progress-bar-100k-mobile.png);
  }
}
.boss-fighting .progress-bar-block.and-150k::before {
  content: "";
  background: transparent url(../images/progress-bar-150k.png) no-repeat 0 0;
  width: 100%;
  height: 150px;
  background-size: contain;
  position: absolute;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 10;
}
@media (max-width: 767px) {
  .boss-fighting .progress-bar-block.and-150k::before {
    height: 117px;
    background-image: url(../images/progress-bar-150k-mobile.png);
  }
}
.boss-fighting .boss-block-bottom {
  position: relative;
  display: inline-block;
  height: 400px;
}
.boss-fighting .boss-1, .boss-fighting .boss-2, .boss-fighting .boss-3, .boss-fighting .boss-4, .boss-fighting .boss-5, .boss-fighting .boss-6, .boss-fighting .boss-7 {
  width: 285px;
  height: 321px;
  display: inline-block;
  position: absolute;
  text-align: center;
  background-size: contain !important;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-1, .boss-fighting .boss-2, .boss-fighting .boss-3, .boss-fighting .boss-4, .boss-fighting .boss-5, .boss-fighting .boss-6, .boss-fighting .boss-7 {
    width: 249px;
    height: 279px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-1, .boss-fighting .boss-2, .boss-fighting .boss-3, .boss-fighting .boss-4, .boss-fighting .boss-5, .boss-fighting .boss-6, .boss-fighting .boss-7 {
    width: 206px;
    height: 235px;
  }
}
.boss-fighting .boss-1 span, .boss-fighting .boss-2 span, .boss-fighting .boss-3 span, .boss-fighting .boss-4 span, .boss-fighting .boss-5 span, .boss-fighting .boss-6 span, .boss-fighting .boss-7 span {
  display: none;
  width: 89%;
  height: 105px;
  background: transparent url(../images/seal.png) no-repeat 0 0;
  background-size: contain;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  top: 25%;
  left: 5%;
  -ms-transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg);
}
.boss-fighting .success.boss-1 span, .boss-fighting .success.boss-2 span, .boss-fighting .success.boss-3 span, .boss-fighting .success.boss-4 span, .boss-fighting .success.boss-5 span, .boss-fighting .success.boss-6 span, .boss-fighting .success.boss-7 span {
  display: inline-block;
}
.boss-fighting .boss-1 {
  background: transparent url(../images/boss-avatar-1.png) no-repeat center top;
  left: 27px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-1 {
    left: 14px;
    bottom: 140px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-1 {
    left: -4px;
    bottom: 210px;
  }
}
.boss-fighting .boss-1.active {
  background-image: url(../images/boss-avatar-1-active.png);
}
.boss-fighting .boss-2 {
  background: transparent url(../images/boss-avatar-2.png) no-repeat center top;
  left: 160px;
  bottom: -15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-2 {
    left: 124px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-2 {
    left: 80px;
  }
}
.boss-fighting .boss-2.active {
  background-image: url(../images/boss-avatar-2-active.png);
}
.boss-fighting .boss-3 {
  background: transparent url(../images/boss-avatar-3.png) no-repeat center top;
  left: 294px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-3 {
    left: 233px;
    bottom: 140px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-3 {
    left: 170px;
    bottom: 210px;
  }
}
.boss-fighting .boss-3.active {
  background-image: url(../images/boss-avatar-3-active.png);
}
.boss-fighting .boss-4 {
  background: transparent url(../images/boss-avatar-new-4.png) no-repeat center top;
  left: 430px;
  bottom: -15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-4 {
    left: 342px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-4 {
    left: 255px;
  }
}
.boss-fighting .boss-4.active {
  background-image: url(../images/boss-avatar-new-4-active.png);
}
.boss-fighting .boss-5 {
  background: transparent url(../images/boss-avatar-new-5.png) no-repeat center top;
  left: 557px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-5 {
    left: 450px;
    bottom: 140px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-5 {
    left: 339px;
    bottom: 210px;
  }
}
.boss-fighting .boss-5.active {
  background-image: url(../images/boss-avatar-new-5-active.png);
}
.boss-fighting .boss-6 {
  background: transparent url(../images/boss-avatar-new-6.png) no-repeat center top;
  left: 690px;
  bottom: -15px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-6 {
    left: 561px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-6 {
    left: 429px;
  }
}
.boss-fighting .boss-6.active {
  background-image: url(../images/boss-avatar-new-6-active.png);
}
.boss-fighting .boss-7 {
  background: transparent url(../images/boss-avatar-new-7.png) no-repeat center top;
  left: 820px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boss-fighting .boss-7 {
    left: 668px;
    bottom: 140px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .boss-fighting .boss-7 {
    left: 510px;
    bottom: 210px;
  }
}
.boss-fighting .boss-7.active {
  background-image: url(../images/boss-avatar-new-7-active.png);
}

.boss-fighting-mobile .boss-fighting-mobile-slider {
  margin: 35px 0;
}
.boss-fighting-mobile .boss-fighting-mobile-item {
  text-align: center;
  position: relative;
  margin-bottom: 30px;
}
.boss-fighting-mobile .boss-fighting-mobile-item img {
  width: 85%;
  display: inline-block;
}
.boss-fighting-mobile .boss-fighting-mobile-item .success-label {
  display: none;
}
.boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
  display: inline-block;
  width: 49%;
  height: 138px;
  background: transparent url(../images/seal.png) no-repeat 0 0;
  background-size: contain;
  text-indent: -999em;
  overflow: hidden;
  position: absolute;
  top: 45%;
  left: 29%;
  -ms-transform: rotate(-13deg);
  -webkit-transform: rotate(-13deg);
  transform: rotate(-13deg);
}
@media (min-width: 711px) and (max-width: 765px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 34%;
    left: 9%;
    width: 93%;
    height: 246px;
  }
}
@media (min-width: 647px) and (max-width: 710px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 34%;
    left: 7%;
    width: 83%;
    height: 214px;
  }
}
@media (min-width: 555px) and (max-width: 646px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 38%;
    left: 11%;
    width: 81%;
    height: 184px;
  }
}
@media (min-width: 465px) and (max-width: 554px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 38%;
    left: 9%;
    width: 85%;
    height: 246px;
  }
}
@media (min-width: 416px) and (max-width: 464px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 39%;
    left: 8%;
    width: 85%;
    height: 156px;
  }
}
@media (min-width: 414px) and (max-width: 415px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 39%;
    left: 10%;
    width: 79%;
    height: 125px;
  }
}
@media (min-width: 321px) and (max-width: 413px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 39%;
    left: 6%;
    width: 89%;
    height: 137px;
  }
}
@media (max-width: 320px) {
  .boss-fighting-mobile .boss-fighting-mobile-item.success .success-label {
    top: 41%;
    left: 11%;
    width: 81%;
    height: 138px;
    -ms-transform: rotate(-13deg);
    -webkit-transform: rotate(-13deg);
    transform: rotate(-13deg);
  }
}
.boss-fighting-mobile .boss-title span {
  display: block;
  color: #CABF6B;
  font-size: 16px;
  margin-bottom: 8px;
}
.boss-fighting-mobile .boss-title b {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
.boss-fighting-mobile .slick-prev,
.boss-fighting-mobile .slick-next {
  top: 100%;
}
.boss-fighting-mobile .slick-next {
  right: 29px;
}

.pre-register-sns-login {
  margin-top: 100px;
  min-height: 600px;
  background: transparent url(../images/pre-login-bg.png) no-repeat center center;
  background-size: contain;
}
@media (max-width: 767px) {
  .pre-register-sns-login {
    min-height: 390px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pre-register-sns-login h2 img {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .pre-register-sns-login h2 img {
    max-width: 200px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pre-register-sns-login {
    min-height: 400px;
    margin-top: 50px;
  }
}
.pre-register-sns-login p {
  font-size: 30px;
  color: white;
  text-align: center;
  margin-top: 120px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .pre-register-sns-login p {
    width: 80%;
    text-align: center;
    line-height: 46px;
    margin: 80px auto 0;
  }
}
@media (max-width: 767px) {
  .pre-register-sns-login p {
    font-size: 18px;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 46px;
  }
}

.login-btn {
  margin-top: 100px;
}
.login-btn img {
  max-width: 350px;
}
@media (max-width: 767px) {
  .login-btn img {
    max-width: 100%;
  }
}

.guild-form {
  background: rgba(0, 0, 0, 0.43);
  border: 2px solid #FFF188;
  border-radius: 8px;
  padding: 26px;
  max-width: 900px;
  margin: 50px auto;
}
.guild-form .btn-block {
  height: 56px;
  font-size: 24px;
}
.guild-form .form-control {
  height: 45px;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .guild-form {
    max-width: 800px;
  }
}
.guild-form h3 {
  margin: 0;
}
.guild-form .guild-member-list {
  margin-top: 17px;
  text-align: left;
}
.guild-form .guild-member-list strong {
  font-size: 18px;
  color: #FFF292;
  margin-bottom: 10px;
  margin-top: 10px;
}
.guild-form .guild-member-list ul li {
  color: #FFF292;
  padding: 7px 0;
  font-size: 14px;
  border-bottom: 1px solid #717171;
  letter-spacing: 2px;
}
.guild-form .guild-member-list .list-block {
  height: 200px;
  width: 100%;
  display: inline-block;
  overflow-y: scroll;
  padding-right: 15px;
}
.guild-form .guild-member-list .list-block::-webkit-scrollbar-track {
  background-color: transparent;
}
.guild-form .guild-member-list .list-block::-webkit-scrollbar {
  width: 7px;
  background-color: transparent;
}
.guild-form .guild-member-list .list-block::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #646464;
}

@media (max-width: 767px) {
  .praise-img {
    width: 90%;
    margin: 0 auto;
  }
}

.video-voteing {
  position: relative;
  margin-top: 50px;
  min-height: 400px;
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .video-voteing {
    margin-top: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-voteing h2 img {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .video-voteing h2 img {
    max-width: 200px;
  }
}
.video-voteing .float-bg-1 {
  position: absolute;
  left: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .video-voteing .float-bg-1 {
    width: 170px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-voteing .float-bg-1 {
    width: 130px;
  }
}
@media (max-width: 767px) {
  .video-voteing .float-bg-1 {
    display: none;
  }
}
.video-voteing .float-bg-2 {
  position: absolute;
  right: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .video-voteing .float-bg-2 {
    width: 170px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-voteing .float-bg-2 {
    width: 130px;
  }
}
@media (max-width: 767px) {
  .video-voteing .float-bg-2 {
    display: none;
  }
}
.video-voteing p {
  max-width: 700px;
  width: 100%;
  color: white;
  text-align: center;
  margin: 60px auto 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .video-voteing p {
    max-width: 600px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-voteing p {
    max-width: 450px;
  }
}
.video-voteing .media-list-item {
  width: calc(100%);
  width: -moz-calc(100%);
  width: -webkit-calc(100%);
  text-align: center;
  min-width: 290px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-voteing .media-list-item {
    width: calc(100%);
    width: -moz-calc(100%);
    width: -webkit-calc(100%);
  }
}
@media (max-width: 767px) {
  .video-voteing .media-list-item {
    width: calc(100%);
    width: -moz-calc(100%);
    width: -webkit-calc(100%);
    min-width: auto;
  }
}
.video-voteing .media-list-item .video-cover {
  position: relative;
  background-size: cover;
  display: inline-block;
  width: 90%;
  height: 290px;
  border-radius: 8px;
  border: 2px solid #CABF6B;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .video-voteing .media-list-item .video-cover {
    width: 90%;
    height: 225px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .video-voteing .media-list-item .video-cover {
    width: 90%;
    height: 225px;
  }
}
@media (max-width: 767px) {
  .video-voteing .media-list-item .video-cover {
    width: 90%;
    height: 195px;
  }
}
.video-voteing .media-list-item .video-cover i {
  color: white;
  position: absolute;
  margin: 0 auto;
  z-index: 1;
  font-size: 60px;
  right: 0;
  left: 0;
  top: 36%;
  opacity: 0.9;
}
.video-voteing .media-list-item .video-title {
  display: block;
  color: white;
  margin-top: 23px;
  font-size: 16px;
  text-shadow: 0px 5px 2px black;
}
.video-voteing .media-list-item:hover {
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
.video-voteing .voteing-btn {
  margin: 20px 0 37px;
  width: 200px;
}

.modal-dialog {
  background: rgba(0, 0, 0, 0.65);
  border: 2px solid #FFF188;
  border-radius: 8px;
}
.modal-dialog .modal-header {
  border-bottom: none;
}
.modal-dialog .modal-header .close {
  color: #c4b968;
  opacity: 1;
  font-size: 50px;
}
@media (max-width: 767px) {
  .modal-dialog .modal-header .close {
    font-size: 36px;
  }
}
.modal-dialog .modal-content {
  background-color: #000000;
}
.modal-dialog .modal-content .check-list-img {
  width: 100%;
}


.bootstrap-select button {
  height:45px;
}

.ui-highlight{
  font-weight:900;
  color:#0080ff;
  background-color:#ffff99;
}

.ui-autocomplete-loading {
  background: #ffffff url('http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif') no-repeat 98% center;
  margin-right: 5px;
  padding-right: 5px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 0 0 10px 25px;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}

.ui-state-hover, .ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}
